<aside
  class="w-64 flex-shrink-0 bg-white dark:bg-slate-900 border-r border-slate-200 dark:border-slate-800 flex flex-col z-20 transition-all duration-300 h-full"
>
  <!-- Logo Section -->
  <div class="h-16 flex items-center gap-3 px-6 border-b border-slate-100 dark:border-slate-800">
    <div class="bg-primary/10 rounded-lg p-1.5 flex items-center justify-center text-primary">
      <span class="material-symbols-outlined text-2xl">local_shipping</span>
    </div>
    <div class="flex flex-col">
      <h1 class="text-slate-900 dark:text-white text-base font-bold leading-none">LogiFlow</h1>
      <span class="text-slate-500 dark:text-slate-400 text-xs font-medium">Operations</span>
    </div>
  </div>
  <!-- Navigation -->
  <nav class="flex-1 flex flex-col gap-1 p-4 overflow-y-auto">
    <a
      routerLink="dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg  text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white" style="font-variation-settings: 'FILL' 1"
        >dashboard</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white">Dashboard</span>
    </a>
    <a
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
      href="#"
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white"
        >inventory_2</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white"
        >Shipments</span
      >
    </a>
    <a
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
      href="#"
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white"
        >map</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white"
        >Track &amp; Trace</span
      >
    </a>
    <a
       routerLink="customers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
      
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white"
        >group</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white"
        >Customers</span
      >
    </a>
    <a
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
      href="#"
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white"
        >description</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white"
        >Reports</span
      >
    </a>
    <div class="my-2 border-t border-slate-100 dark:border-slate-800"></div>
    <a
      class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors group"
      href="#"
    >
      <span class="material-symbols-outlined group-hover:text-slate-900 dark:group-hover:text-white"
        >settings</span
      >
      <span class="text-sm font-medium group-hover:text-slate-900 dark:group-hover:text-white"
        >Settings</span
      >
    </a>
  </nav>
  <!-- User Profile Snippet (Bottom Sidebar) -->
  <div class="p-4 border-t border-slate-100 dark:border-slate-800">
    <div class="flex items-center gap-3">
      <div class="relative">
        <div
          class="bg-center bg-no-repeat bg-cover rounded-full size-9 bg-slate-200"
          data-alt="Portrait of the current user"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBfF0DD05_71xgmfEINcRmQHz_3jRWObdPCra15-eldzR12Fei64lrO9hHIu7Vj2phcJd-C84DjLOriXtyyutFahbmhdWhnN45FFlkmIa8qBkADLXuhT-p081OOPrwgALNBt9tXzCiWRROqm8DnRKCwRHYqHsjJmEkWVb1U5kUqubi1nw60drZdC3GW1xsIoKxyWrgoIlbE6Ie88bSfPx1vE6HHXuE38dOFEEksDyPCN5hApRFhlCJ2rFcO6BAnuhngvCJjivXvkzpB');
          "
        ></div>
        <div
          class="absolute bottom-0 right-0 size-2.5 bg-green-500 rounded-full border-2 border-white dark:border-slate-900"
        ></div>
      </div>
      <div class="flex flex-col overflow-hidden">
        <p class="text-sm font-semibold text-slate-900 dark:text-white truncate">Alex Morgan</p>
        <p class="text-xs text-slate-500 truncate">Logistics Manager</p>
      </div>
    </div>
  </div>
</aside>
